body{
    margin:0;
}
.red{
    background:#990000;
    height:200px;
}
.blue{
background:#000099;
height:120px;
display:block;
margin: 40px 0 40px 0;
}
.green{
    height:200px;
    background:#009900;
}